<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>Filter.AuthenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ResAndLoginFilter</filter-name>
        <filter-class>Filter.ResAndLoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResAndLoginFilter</filter-name>
        <servlet-name>register</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ResAndLoginFilter</filter-name>
        <servlet-name>AuthenticationController</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>upload</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>AddToPlaylist</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>ViewPlaylist</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>delete</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>update</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>CreateNewArtist</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>ListSongs</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>CreatePlaylist</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>DeletePlaylist</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>EditPlaylist</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <servlet-name>AllSongsList</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>EditSong</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>DeleteSong</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>ListSongs</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AllSongsList</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>CreateNewArtist</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>home</servlet-name>
        <servlet-class>entities.home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>categories</servlet-name>
        <servlet-class>entities.categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>singers</servlet-name>
        <servlet-class>entities.singers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ranking</servlet-name>
        <servlet-class>entities.ranking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>entities.register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot</servlet-name>
        <servlet-class>entities.forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>play</servlet-name>
        <servlet-class>entities.play</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToPlaylist</servlet-name>
        <servlet-class>entities.AddToPlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>entities.upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>entities.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateNewArtist</servlet-name>
        <servlet-class>entities.CreateNewArtist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>entities.search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllSongsList</servlet-name>
        <servlet-class>entities.masterController.AdminPanel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSongs</servlet-name>
        <servlet-class>entities.masterController.ListSongs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>authentication.result</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPlaylist</servlet-name>
        <servlet-class>entities.ViewPlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePlaylist</servlet-name>
        <servlet-class>entities.CreatePlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlaylist</servlet-name>
        <servlet-class>entities.DeletePlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPlaylist</servlet-name>
        <servlet-class>entities.EditPlaylist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSong</servlet-name>
        <servlet-class>entities.DeleteSong</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSong</servlet-name>
        <servlet-class>entities.EditSong</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>categories</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>singers</servlet-name>
        <url-pattern>/singers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ranking</servlet-name>
        <url-pattern>/ranking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeauthenticationController</servlet-name>
        <servlet-class>authentication.DeauthenticationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticationController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeauthenticationController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthenticationController</servlet-name>
        <servlet-class>authentication.AuthenticationController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot</servlet-name>
        <url-pattern>/forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>play</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToPlaylist</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewArtist</servlet-name>
        <url-pattern>/createartist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AllSongsList</servlet-name>
        <url-pattern>/adminpanel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSongs</servlet-name>
        <url-pattern>/listsongs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPlaylist</servlet-name>
        <url-pattern>/playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlaylist</servlet-name>
        <url-pattern>/createplaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlaylist</servlet-name>
        <url-pattern>/deleteplaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPlaylist</servlet-name>
        <url-pattern>/editplaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSong</servlet-name>
        <url-pattern>/deletesong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSong</servlet-name>
        <url-pattern>/editsong</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
